* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
  }


a{
  font-size: 26px;
}
p{
  font-size: 16px;
}
body { 
background: rgb(4, 72, 106);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
   margin: auto;
  

}
.card{
  background: black;
  text-align: center;
  padding: 5px;
  width: 300px;
  height: 300px;
  border-radius: 4px;
}
main {


max-width: 1000px;
margin: auto;
  
}
